.about{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.aboutUs{
    color:black;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    font-style: bold;
}
.image{
    width: 600px;
    height: 600px;
    margin-left: 50px;
}

.content{
    width: 800px;
    padding-top: 70px;
} 
.strike{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
     
}
//.aboutUs{
   // font-weight: 700;
   // font-size: 64px;
   // color: rgba(0, 0, 0, 1);
//}
.content span{
   
    display: block; 
    padding-top: 20px;
}
.btn {
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 40px;
    text-align: center;
    width: 224px;
    height: 70px;
    padding: 16px 30px;
    font-weight: 700;
    font-size: 24px;
} 
.button{
    margin-top: 30px;
}
.btn:hover {
    background-color: black;
    color: white;
  }

.button p{
color: rgba(0, 0, 0, 1);
height: 29px;
width: 144px;
left: 366px;
top: 632px;
border-radius: nullpx;
display: inline-block;
}